# Python-related files
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env

# Virtual environment
venv/
env/

# Django-specific files
db.sqlite3
/media/
*.log

# Static and media files
static/
staticfiles/
media/

# Migrations
**/migrations/*.py
!**/migrations/__init__.py

# IDE and editor files
.vscode/
.idea/
*.iml

# Byte-compiled and cache files
*.swp
*.swo
.DS_Store